html, body{
    background-color: #a65848;
    color: white;
}

.cabecera{
    text-align:center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

.carta{
    width: 100px;
    position: relative;
    left: 100px;
    margin-left: -75px;
    margin-top: 15px;
}

#banca-cartas, #jugador-cartas{
    height: 220px;
}

#boton{
    padding-bottom: 20px;
}

#Ganador{
    text-align: center;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 1.5em;
}

#main{
    opacity: 0;
    z-index: 0;
}

#cuestionario{
    margin-top: 15px;
    margin-left: 15px;
    z-index: 1;
    position: relative;
    top: 250px;
    left: 350px;
    font-size: large;
}

.marcador{
    position: relative;
    padding-left: 150px;
}

.tamLetra h1{
    font-style: italic;
    background-color: lightgreen;
}
